
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">系统</a>
                        </li>
                        <li class="active">文章管理</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加文章" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = 'add'">
    <i class="fa fa-plus"></i>
    Add
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">标题</th>
                                <th class="text-center">缩略图</th>
                                <th class="text-center">作者</th>
                                <th class="text-center">推荐</th>
                                <th class="text-center">所属栏目</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        {foreach $arr as $adm}

                            <tr>
                                <td align="center">{$adm.id}</td>
                                <td align="center">{$adm.title}</td>
                                <td align="center"><img height="30" src="http://localhost/bick/public{$adm.thumb}" alt=""></td>
                                <td align="center">{if $adm.author}{$adm.author}{else}未填写{/if}</td>
                                <td align="center">{if $adm.rec==1}已推荐 {else/}未推荐{/if}</td>
                                <td align="center">{$adm.catename}</td>
                                <td align="center">
                                    <a href="{:url('article/edit',['id'=>$adm.id])}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>
                                    <a href="#" onClick="warning('确实要删除吗', '{:url('article/del',['id'=>$adm.id])}')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>

                        {/foreach}
                        </tbody>
                    </table>
                    {$arr->render()}
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->

